
header{
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

.field{
    text-align: center;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24.87rem;
}

.Introdution{
    margin-top: 17.56rem;
    
}

.Introdution > p{
    text-align: center;
    margin-bottom: 3.75rem;
    
}

.Introdution > button{
    
    border: none;
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    padding: 0.5rem;
    border-radius: 1rem;
    display: block;
    margin: auto;
}